.card-top{
    position: relative;
    display: flex; 
    flex-direction: column; 
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    
}

.d-flex{
    position: sticky;
    right: 250px;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.text-category{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #802c6e;
    
}

.container img {
    width: 85px;
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
}

.products-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 200px;
}

.card{
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    box-shadow: grey;
    margin: 10px;
    width: 16%;
    height: 360px;
    text-align: center;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.btn-shopping{
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content:flex-end; 
    align-items: center; 
    width: 100%;
}

.btn-generic{
    background-color:#802c6e; 
    border-width: 0px;
    border-radius: 5px;
}

.store-item-name{
    font-size: 15px;
    height: auto;
    color:#802c6e;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100px;
}

.store-picture{
    height: 150px !important;
    width: auto !important;
    padding: 10px;
}

.text-description{
    max-height: 200px;
    text-overflow: ellipsis;
}
