<div class="card-top">
    <div class="d-flex container text-category">
        <div >
            <img  src="https://indyme.com/wp-content/uploads/2020/11/shopping-cart-icon.png" alt="all products">
            <p>
                All our store!
            </p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/3556/3556561.png" alt="electronics">
            <p>
                electronics!
            </p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/2361/2361685.png" alt="jewelery">
            <p>
                jewelery!
            </p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/2230/2230866.png" alt="men's clothing">
            <p>
                men's clothing!
            </p>
        </div>
        <div>
            <img src="https://images.vexels.com/media/users/3/240010/isolated/preview/7afc69d85131f804df2050932497d238-mini-skirt-flat.png" alt="women's clothing">
            <p>
                women's clothing!
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="products-box">
        <ng-container *ngFor="let item of productList"> 
            <app-product-card [product]="item"></app-product-card>           
        </ng-container> 
    </div>
</div>
