.container{
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.card-format{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 10%;
    padding: 25px;
    font-size: 25px;
}

.center-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.btn-generic{
    background-color:#802c6e; 
    border-width: 0px;
    border-radius: 5px;
}

