.title-welcome {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #F7AA37;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: auto;
}

.logo {
    color:#F7AA37;
    margin-left: 10px;
}

.text-box {
    margin: 0% 0% 0% 6%;
    height: 35px;
    align-items: center;
    position:sticky;
    width: 60%;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color: white;
}

.header {
    z-index: 9;
    position: sticky; 
    top: 0;
}

.title-store{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color:#802c6e ;
    font-size: 25px;
    padding: 8px;
    margin: auto;
    font-weight: bold; 
    display: flex;
    align-items: center;
}

.left-container{
    margin-left: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.right-container{
    margin-right: 35px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-button {
    font-size: 25px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}
    
.icon-to-search{
    position:sticky;
    z-index: 10;
    right: 25%;
    color: #F7AA37;
    margin-top: 5px;
}

:hover.icon-to-search{
    position: fixed;
    z-index: 10;
    right: 25%;
    color: #802c6e;
    margin-top: 5px;
}

.nomber-of-products-in-cart{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: bold;
    position:fixed;
    background-color: #F7AA37;
    color: white; 
    right: 8px;
    top: 75px;
    padding: 2px 5px 1px 5px;
    border-radius: 5px;
}
    