<div class="header">
    <div class="title-store"> 
        <div (click)="onHomeAgain()" class="left-container">
            BESTCOME 
            <i class="logo" nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        </div>
        
        <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 100%;">
                <input type="text" nz-input placeholder="Busca tus productos" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
        </ng-template>
        
        <div class="right-container">
            <div (click)="onUsuarioClick()" class="header-button" nz-icon nzType="user" nzTheme="outline"></div>
            
            <nz-badge [nzCount]="notificaciones">
                <div (click)="onComprasClick()" class="header-button" nz-icon nzType="shopping" nzTheme="outline"></div>
            </nz-badge>  
        </div>
        
        
    </div>
</div>