
<div class= "card">
    <div style="display: flex; align-items: center; justify-content: center; padding: 5px;">
        <img class = "store-picture" src="{{product.image}}" alt="{{product.title}}">
    </div>             
    <h5 class="store-item-name" >{{product.title}}</h5>
    <div class="btn-shopping">
        <p><strong>Price: </strong> ${{product.price}}</p>
        <button *ngIf="!isCart" (click)="onClick()" class="btn-generic" nz-button nzType="primary">Add to cart!<i nz-icon nzType="shopping"></i></button>

        <button *ngIf="isCart" (click)="onDeleteClick()" class="btn-generic" nz-button nzDanger nzType="primary">Remove<i nz-icon nzType="delete"></i></button>
    </div>
</div>